// Place all the styles related to the members::top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-image {
	height: 300px;
  width: 120%;
	background-image: image-url(外観.jpg);
	background-repeat: no-repeat;
	background-size: contain;
  background-position: left;
  float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}