// Place all the styles related to the members::top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-visual {
  height: 350px;
  background-image: url(外観.jpg);
  background-size: cover;
  background-position: center;
}

.top-visual-content {
  width: 75%;
  height: 40%;
  background: rgba(255,255,255,0.5);
  text-align: center;
  margin-top: 70px;
  padding-top: 30px;
}