<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><strong>ながのCAKE</strong>通販サイトへようこそ！</h2>
      <p></p>
      <h5>こちらは、長野県にある小さな洋菓子店「ながのCAKE」通販サイトです。</h5>
      <h5>遠方にお住いの方でもお気軽に当店自慢のおいしいケーキをお召し上がりになれますので、お気軽にご注文ください。</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p></p>
      <div class="main-image"></div>
    </div>
    <div class="col-6">
      <p></p>
      <table class="table table-borderless">
        <tr>
          <th>住所</th>
          <td>長野県長野市大字南長野幅下６９２−２</td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td>04-1111-1111</td>
        </tr>

        <tr>
          <th>営業時間</th>
          <td>9:00～20:00</td>
        </tr>

        <tr>
          <th>代表</th>
          <td>香川真司</td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td>naganocake.lastlove@gmail.com</td>
        </tr>
      </table>
    </div>
  </div>

</div>