<div class="container">
  <div class="row ">
    <div class="col text-center h4">ご購入ありがとうございました！<br>またのご利用お待ちしております。</div>
  </div>
  <div class="col-12">
    <iframe src="https://gifmagazine.net/embed/glp/3489308" width="1100" height="500" frameBorder="0" ></iframe>
    <a href="https://gifmagazine.net/post_images/3489308"><p class="text-muted text-right">via GIFMAGAZINE</p></a>
    </div>
</div>